
venv/

__pycache__/
*.pyc
*.pyo

models/dit_invoice_classifier/

# Data
data/dataset/
data/outputs/
data/pending/
data/need_review/
data/valid_invoice/
# Logs
app.log
*.log
# Environnement
.env
# Tokens
ms_token.json
# Fichiers temporaires
temp_*
*.zip
# IDE
.vscode/
.idea/

start_agent.bat
config/setting.py

ms_token.json
venv/
